{% extends 'base.html' %}
{% block content %}
<form class="form-horizontal">
    <fieldset>
        <legend>Cadastro</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Usuário</label>
            <div class="col-md-5">
                <input id="username" name="username" type="text" placeholder="Nome de usuário" class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Senha</label>
            <div class="col-md-5">
                <input id="password" name="password" type="password" class="form-control input-md" required="">
                <span class="help-block">Mínimo 6 dígitos</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password_confirm">Confirme a senha</label>
            <div class="col-md-5">
                <input id="password_confirm" name="password_confirm" type="password" class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-8">
                <button id="" name="" type="submit" class="btn btn-success">Cadastrar</button>
                <button id="limpar" name="limpar" type="button" class="btn btn-default">Limpar</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
