{% extends "base.html" %}
{% block title %}Protocolos{% endblock %}

{% block content %}
<title>Novo protocolo</title>
<div class="container">
  <h1>Novo protocolo</h1>
  <form role="form" action="{{ url_for('.novo') }}" method="POST" enctype="multipart/form-data">
     <div class="form-group">
        <label for="cod_protocolo">Descricao</label><br />
        <input type="text" name="cod_protocolo"  required placeholder="Entre com a Descriçao">
     </div>
     <div class="form-group">
        <label for="inputfile">Entrada Arquivo</label>
        <input type="file" name="file" required>
        <p class="help-block">Tamanho maximo do arquivo.</p>
     </div>
     <button type="submit" value="Upload" class="btn btn-primary">Salvar</button>
  </form>
</div>
{% endblock %}
