{% extends "base.html" %}
{% block title %}Protocolos{% endblock %}

{% block head_tail %}
{% assets output='gen/protocolos/lista_protocolos.css', 'protocolos/css/styles.css' %}
<link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
{% endblock %}

{% block body_tail %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script src='//code.angularjs.org/1.3.0/angular.js'></script>
<script src='//code.angularjs.org/1.3.0/angular-resource.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pusher/2.2.4/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pusher-angular/0.1.4/pusher-angular.min.js"></script>
{% assets output='gen/protocolos/lista_protocolos.js', 'protocolos/js/scripts.js', 'protocolos/js/app.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% block content %}
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" title="scroll down for your viewing pleasure">CidadeIluminada</a>
          <p class="lead">Painel Administrativo</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img width="150" src="img/logo-ci.png">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-sm-12">

        <div class="panel">
        <div class="panel-body">
         Nova funcionalidade adicionada ao painel administrativo!  <span class="glyphicon glyphicon-ok"></span>
        </div>
        </div>

      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="row">
            <div class="col col-sm-3">
                <div id="sidebar">


              <div class="panel panel-default">
          <div class="panel-heading"> <h4>Filtros <i class="glyphicon glyphicon-sort-by-attributes-alt pull-right"></i></h4></div>
        <div class="panel-body">
              <div class="list-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Filtro 1
                  </label>
                </div>


                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Filtro 2
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Filtro 3
                  </label>
                </div>


                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Filtro 4
                  </label>
                </div>


              </div>
            </div>
      </div>

               </div>
            </div>
            <div class="col col-sm-9">
              <div class="panel">
              <h1>The Top Stories from Around</h1>

              <div class="row">
                <div class="col col-sm-8">
                  <img src="http://s.bootply.com/assets/example/bg_iphone.png" class="img-responsive">
                </div>
                <div class="col col-sm-4">
                  <img src="//placehold.it/400x180/FF3333/FFF" class="img-responsive">
                  <h4>Aside</h4>
                  <hr>
                  <img src="//placehold.it/400x180/FF3333/FFF" class="img-responsive">
                  <h4>Aside 2</h4>
                </div>
              </div>

                <h2>Content</h2>
                Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?


                <h2>Content</h2>
                Rrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                <br><br>
                <button class="btn btn-default">More</button>

                <hr>

                <h2>Content</h2>
                <img src="//placehold.it/150x100/EEEEEE" class="img-responsive pull-right"> Farmhand ida quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. I met him on the Internet. He's a French model. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                <br><br>
                <button class="btn btn-default">More</button>

                <hr>

                 <div class="row">
                  <div class="col col-sm-6">
                    <img src="/assets/example/bg_smartphones.jpg" class="img-responsive">

                  </div>
                  <div class="col col-sm-6">
                    <h1>There is still a lot to be said about the Responsive Web.</h1>
                  </div>
                </div>

                <hr>

                <h2>Responsive Text</h2>
                Eeaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Bootply is this awesomeness. Editor, prototype tool, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut

                <hr>

                <h2>Responsive Images</h2>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut

                <hr>

                <h2>Media Queries</h2>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut


                <h1><a href="#"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a></h1>

                <hr>
                <h4><a href="http://bootply.com/">Bootply</a></h4>
                <hr>
                </div>
        </div>
    </div>
</div>
<div ng-app="protocolosApp" ng-controller="ProtocolosListaController" class="container-fluid row-fluid">
    <div class="span2">
        {{ current_user.username }}
    </div>
    <div class="span10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Criação
                    </th>
                    <th>
                        Foto
                    </th>
                    <th>
                        Status
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="protocolo in protocolos">
                    <td>
                        [[ protocolo.cod_protocolo ]]
                    </td>
                    <td>
                        [[ protocolo.timestamp ]]
                    </td>
                    <td>
                        <a target="_blank" href="/protocolos/[[ protocolo.id ]]/foto/">Foto</a>
                    </td>
                    <td>
                        [[ protocolo.status ]]
                    </td>
                    <td>
                        <form name="statusForm" ng-submit="sendStatus(protocolo, pedido._status)">
                            <select name="status" ng-model="pedido._status" ng-options="status for status in statusProtocolos">
                            </select>
                            <button type="submit">Mudar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
